.card-size{
    width: 816px;
}

.alert{
    padding: 3px;
    font-size: 12px;
}

@media (max-width: 1199px) {
    .card-size{
        width: 725px !important;
    }
}

@media (max-width: 767px) {
    .card-size{
        width: 100% !important;
    }
}
